<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
    <h3 class="css-parcelex-logo">Parcelado no Boleto</h3>
    <p class="css-parcelex-text-1">
        <strong>Parcele em até 24x direto pelo seu celular.</strong>
        <br><br>
        Ao finalizar sua compra, será necessário enviar uma foto do seu documento de identificação direto pelo seu celular.
        <br><br>
        As taxas de juros são personalizadas e o pagamento de uma entrada poderá ser necessária*.
        <br><br>
        Tudo simples, rápido e seguro.
    </p>
    <p class="css-parcelex-text-2">
        *Sujeito à aprovação de crédito.
    </p>
</fieldset>
