<!-- In the line below, you can change just last two classes, respecting the name pattern  -->
<fieldset class="box-payment-group2 box-payment-option box-payment-newpayment newPaymentGroup">
    <h3 class="css-parcelex-logo">Débito Bancário</h3>
    <p class="css-pre-value"><span class="css-pre-value-highlight">12<!--{{installmentTimes}}-->x</span> de <span class="css-pre-value-highlight">R$ 204,84<!--{{installment}}--></span> no boleto</p>
      <p class="css-parcelex-text-1">
          <b>Valor total de <span class="css-pre-value-highlight">R$ 2.458,11<!--{{totalValue}}--></span></b>
          <br>
          Esta é uma simulação com juros e CET de {{interest}}% ao mês. O valor total pode variar de
          acordo com a taxa de juros, que é definida a partir de seu perfil de crédito.
          <br>
          <br>
          Para verificar seu perfil de crédito, o Parcelex faz uma análise das suas informações. Por
          isso, é muito importante que você forneça seus dados reais, como CPF e endereço próprios.
      </p>
      <p class="css-parcelex-text-1">
          Você pode parcelar em até 24x e tem até 30 dias após a data da compra para pagar o
          primeiro boleto.
          </br></br>
          Você receberá mensalmente os boletos referentes às parcelas via email ou SMS.
      </p>
  </fieldset>
  